<!-- messages/show -->
<div class="callout large primary">
  <div class="text-center">
    <h1><%= link_to @board.topic, board_path(@board) %></h1>
    <% if @message.created_at != @message.updated_at %>
      <h2 class="subheader">Updated <%= @message.time_updated %></h2>
    <% else %>
      <h2 class="subheader">Posted <%= @message.time_posted %></h2>
    <% end %>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x align-center">
    <div class="cell medium-8">
      <div class="blog-post text-center">
        <% if flash[:alert] %>
          <p class="error_message"><%= flash[:alert] %></p>
        <% end %>
        <h3><%= @message.user.username %>:</h3>
        <p><%= @message.content %></p>
        <% if current_user == @message.user %>
          <h4><a class="button button-rounded-hover" href= <%= edit_board_message_path(@board, @message) %>>Edit Message</a></h4>
          <%= form_tag(board_message_path(@board, @message), :method => "DELETE") do %>
            <h4><%= button_tag "Delete Message", :type => "submit", :class => "button button-rounded-hover" %></h4>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</article>
