<!-- sessions/new -->
<div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <h1 class="login-box-title">Log In</h1>
        <% if flash[:alert] %>
          <p class="error_message"><%= flash[:alert] %></p>
        <% end %>
        <%= form_tag(login_path) do %>
          <%= text_field_tag "user[username]", nil, :class => "login-box-input", :placeholder => "Username" %>
          <%= password_field_tag "user[password]", nil, :class => "login-box-input", :placeholder => "Password" %>
          <%= submit_tag "Log In", :class => "login-box-submit-button" %>
        <% end %>
      </div><!--login-box-form-section-->
      <div class="or">OR</div>
    </div>
    <%= render 'oauth_partial' %>
  </div><!-- small-12 ... >
</div><!-- login-box >
