<!-- users/new -->
<div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <h1 class="login-box-title">Sign up</h1>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |error| %>
            <p class="error_message_form"><%= error %></p>
          <% end %>
        <% end %>
        <%= form_for(@user, :url => signup_path, :method => "POST") do |f| %>
          <%= f.text_field :name, :class => "login-box-input", :placeholder => "Name" %>
          <%= f.text_field :username, :class => "login-box-input", :placeholder => "Username" %>
          <%= f.email_field :email, :class => "login-box-input", :placeholder => "E-mail" %>
          <%= f.password_field :password, :class => "login-box-input", :placeholder => "Password" %>
          <%= f.submit :class => "login-box-submit-button", :value => "Sign Up" %>
        <% end %>
      </div>
      <div class="or">OR</div>
    </div>
    <%= render 'sessions/oauth_partial' %>
  </div>
</div>
