<!-- users/show -->
<div class="callout large primary">
  <div class="text-center">
    <% if @user.name && !@user.name.empty? %>
      <h1><%= @user.name %></h1>
    <% else %>
      <h1><%= @user.username %></h1>
    <% end %>
    <h2 class="subheader">Active Boards</h2>
    <% if current_user == @user %>
      <h4 class="subheader"><%= link_to "Edit Profile", edit_user_path(@user) %></h4>
      <h4 class="subheader"><%= link_to "Delete Profile", delete_user_path(@user) %></h4>
    <% end %>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x align-center">
    <% @user.boards.each do |board| %>
    <div class="cell medium-8">
      <div class="blog-post">
        <h3><%= link_to board.topic, board_path(board) %></h3>
        <% board.messages.limit(2).each do |message| %>
          <p><strong><%= link_to message.user.username, user_path(message.user) %></strong> - <%= message.content %></p>
        <% end %>
        <h4><a class="button button-rounded-hover" href=<%= board_path(board) %>>View all...</a></h4>
      </div>
    </div>
    <% end %>
  </div>
</article>
