<!-- boards/index -->
<div class="callout large primary">
  <div class="text-center">
    <h1>Available Messaging Boards</h1>
    <h2 class="subheader">Visit a specific board to view and post messages</h2>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x align-center">
    <div class="cell medium-8">
      <%= flash_notice %>
      <div class="comment-section-box">
        <%= form_tag boards_path, :method => "GET" do %>
          <div class="floated-label-wrapper">
            <h5 class="dropdown-label">Sort by:</h5>
            <%= select_tag "sort", raw("<option>Default</option><option>Alphabetical</option><option>Recently Updated</option>") %>
          </div>
          <div class="floated-label-wrapper">
            <%= submit_tag "Sort!", :class => "button expanded" %>
          </div>
        <% end %>
      </div>
    </div>
    <% @boards.each do |board| %>
    <div class="cell medium-8">
      <div class="blog-post">
        <h3><%= board.topic %></h3>
        <% board.messages.limit(2).each do |message| %>
          <p><strong><%= link_to message.user.username, user_path(message.user) %></strong> - <%= message.content %></p>
        <% end %>
        <h4><a class="button button-rounded-hover" href=<%= board_path(board) %>>View Board</a></h4>
      </div>
    </div>
    <% end %>
  </div>
</article>
