<!-- boards/show-jquery -->
<div class="callout large primary">
  <div class="text-center">
    <h1 data-id="<%= @board.id %>" id="boardTopic"></h1>
    <h3 class="subheader" id="boardDescription"></h3>
    <h2 class="subheader" id="boardCreator"></h2>
    <% if current_user == @board.creator %>
      <h4 class="subheader" id="editBoard"></h4>
      <h4 class="subheader" id="deleteBoard"></h4>
    <% end %>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x align-center" id="messagesDiv">
    <%= flash_alert %>
    <%= flash_notice %>
    <%# @board.messages.reject{|m| m.id.nil?}.each do |message| %>
      <%#= render :partial => "message", :locals => {:message => message} %>
    <%# end %>
  </div>

  <!-- new message form -->
  <div class="gridx align-center">
    <%= form_for @message, :url => board_messages_path(@board), :method => "POST", :class => "comment-section-form" do |f| %>
      <div class="comment-section-box">
        <div class="row">
          <div class="small-12 column">
            <h4>Post a Message</h4>
            <% @message.errors.full_messages.each do |error| %>
              <p class="error_message"><%= error %></p>
            <% end %>
            <%= f.text_area :content, :placeholder => "Your message here!" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit :class => "button expanded", :value => "Post Message"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</article>
<script type="text/x-handlebars-template" id="messageTemplate">
  <div class="cell medium-8">
    <div class="blog-post">
      <h3><a href="/users/{{userID}}">{{username}}</a></h3>
      <p>{{messageContent}}</p>
      <h4><a class="button button-rounded-hover" href="/boards/{{boardID}}/messages/{{messageID}}">Show Message</a></h4>
    </div>
  </div>
</script>
